@using Microsoft.AspNetCore.Identity
@using NotesRepository.Areas.Identity.Data
@using NotesRepository.Shared.Resources

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resource> localizer;

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@localizer["hello"] @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">@localizer["logout"]</button>
            </form>
        </li>
    </ul>
}
