@page
@using NotesRepository.Shared.Resources

@inject Microsoft.Extensions.Localization.IStringLocalizer<Resource> localizer;
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = @localizer["downloadYourData"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
