
<AuthorizeView>
    <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Manage">
                <a>Hello, @context.User.Identity?.Name!</a>
            </NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Register">
                <span class="oi oi-plus" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Log in
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>