@using Blazored.Toast
@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject Data.ViewOptionService ViewOption

<PageTitle>NotesRepository</PageTitle>

@*TODO: add appropriate icons (maybe from open-iconic? (wwwroot -> css))*@
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.Material"
                ErrorIcon=""
                InfoIcon=""
                SuccessIcon=""
                WarningIcon=""
                ShowProgressBar="true" />

<div class="page">


    <div class="sidebar @ViewOption.NavBarClass">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <span class="oi oi-menu" aria-hidden="true" @onclick="ViewOption.Toggle "></span>
            <div class="login-display-wrapper">
                <LoginDisplay />
            </div>
        </div>
        <article class="content px-4 pb-3">
            @Body
        </article>
    </main>
</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        ViewOption.FirstLoad = true;
        ViewOption.OnChanged = () =>
        {
            StateHasChanged();//Refresh
        };
    }
}