
.my-list-item {
    margin-left: 10px;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: var(--third-color);
}

.navbar-brand:hover {
    color: white;
}

.navbar-brand {
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.my-nav-item {
    margin-left: 30px;
    margin-right: 30px;
}

.my-custom-nav-item {
    color: white;
   
}

.folder-child:hover{
   color:black;
   cursor:pointer;
}

.my-nav-item-parent:first-child{
    color:red;
}
.my-options:hover {
    color: black;
    cursor: pointer;
}
.nav-item {
    font-size: 0.8rem;
    padding-bottom: 0.4rem;
    overflow: hidden;
}
    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        background: var(--my-white);
    }

        .nav-item ::deep a.active {
            background-color: var(--my-white);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: var(--third-color);
            color: black;
            cursor: pointer;
        }

@media (min-width: 750px) {
    .my-nav-item {
        margin-left: 22px;
        margin-right: 1rem;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
