@inject Data.ViewOptionService ViewOption

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="">NotesRepository</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
                </NavLink>
            </div>
            <div class="nav-item px-3" @onclick="() => TogleSubmenu()">
                <NavLink class="dropdown-toggle nav-link" >
                    <span class="oi oi-folder" aria-hidden="true"></span> Folders
                </NavLink>
            </div>
            @if (allFolders)
            {
                <div class="nav-item px-5">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-folder" aria-hidden="true"></span> Folder1
                    </NavLink>
                </div> 
                <div class="nav-item px-5">
                    <NavLink class="nav-link" href="">
                        <span  class="oi oi-folder" aria-hidden="true"></span> Folder2
                    </NavLink>
                </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-text" aria-hidden="true"></span> Templates
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="dropdown-toggle nav-link" href="">
                    <span class="oi oi-share" aria-hidden="true"></span> Shared
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="dropdown-toggle nav-link" href="">
                    <span class="oi oi-trash" aria-hidden="true"></span> Trash
                </NavLink>
            </div>
        </nav>
    </div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool allFolders=false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void TogleSubmenu()
    {
        allFolders = !allFolders;
    }

}
