@inject Microsoft.Extensions.Localization.IStringLocalizer<Resource> localizer;

<div class="hero-section-container" id="Hero-section">
      <video src="/video/writing.mp4" autoPlay loop muted />
      <div class="hero-text-box">
        <h1 class="scale-in-center ">@localizer["welcomeToNotes"]</h1>
        <div class="hero-introduce">
          <div class="scale-in-top">
            @localizer["theBestItSoftware"]
          </div>
          <br />
        </div>
      </div>
    </div>

