.my-text-area {
    padding: 20px;
    height: 80vh;
    margin-bottom: 1rem;
    overflow: auto;
    border: 1px solid #000000;
    width: 100%;
}
.my-preview {
    border: 1px solid #000000;
    padding: 20px;
    overflow: auto;
    height: 80vh;
    width: 100%;
}
.my-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.my-sub-container {
    flex: 100%;
}

.button-margin {
    margin-left: 3%;
}

img{
    width:100px;
}

.my-table{
    justify-content: space-around;
    display: flex;
    width: 100%;
    margin-top: 1%;
    margin-left:3%;
}

.my-tables{
    display: contents;
    width: 100%;
}

.my-input-container{
    display: flex;
    width: 100%;
}

.my-sub-input-container {
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: baseline;
    margin-top: 1%;
}

.input-margin{
    margin-right: 3%
}

    @media (min-width: 800px) {
        .my-sub-container {
            flex: 50%;
        }
    }

@media(max-width: 1250px) {
    div.my-table th {
        max-width: 25vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .my-input-container {
        display: contents;
    }
}

