
.home-page {
    display: grid;
    width: auto;
    height: auto;
    position: relative;
}

.user-view {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    margin-top: 3%
}

.my-header{
    margin-top: 5%;
    position: inherit;
}

.my-text {
    text-shadow: 1px 1px grey
}

.my-image{
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    background-image:url("tlo.jpg");
    position: absolute;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #009BBF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #009BBF;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #1B5EAB;
    }

.user-notes {
    display: block;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    align-items: flex-start;
    z-index: 10;
}

.my-select{
    border-color: transparent;
    background-color: transparent;
    margin-left: 15px;
}

.my-title{
    display: flex;
}


.notes {
    width: 100%;
    height: 180px;
    border: 2px solid #009BBF;
    overflow-x: auto;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #009BBF;
}

.note {
    height: 140px;
    width: 100px;
    border: 2px solid #009BBF;
    margin-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    word-break: break-all;
}

    .note:hover {
        border: 1px solid #ACE1AF;
        box-shadow: 5px 5px 10px #ACE1AF;
        cursor: pointer;
    }

.my-button {
    text-decoration: none;
    color: white;
}

    .my-button:hover {
        color: #ACE1AF;
        cursor: pointer;
    }

.draft {
    display: block;
    width: 45%;
    height: auto;
    position: relative;
}

.button-bar {
    width: 100%;
    height: auto;
    background: #009BBF;
    display: flex;
    justify-content: space-around;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 5px 5px 5px #009BBF;
}

.my-text-area {
    height: 90%;
    border: 2px solid #009BBF;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 5px 5px 5px #009BBF;
}

@media (max-width: 750px) {

    .user-view {
       display: block;
       z-index: 1;
    }
    .user-notes {
        width: 100%;
    }

    .draft {
        width: 100%;
        height: 500px;
    }
}
