@page
@using NotesRepository.Shared.Resources

@inject Microsoft.Extensions.Localization.IStringLocalizer<Resource> localizer;
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">@localizer["clickLogout"]</button>
            </form>
        }
        else
        {
            <p>@localizer["successfullyLogged"]</p>
        }
    }
</header>
